.article {
	width: 100%;
	height: 100%;
	.pic {
		width: 100%;
		height: 800px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.textbox {
		width: 100%;
		height: 100%;
		margin: 50px auto;
		h3 {
			font: bold 40px/1.2 'Quattrocento Sans', sans-serif;
			margin-bottom: 30px;
			color: black;
		}
		h4 {
			font: bold 15px/1.3 'arial';
			margin-bottom: 30px;
		}
		p {
			font: normal 17px/1.3 'arial';
			margin-bottom: 30px;
		}
	}
}

.com {
	width: 100%;
	height: 100%;
	margin-bottom: 80px;
	position: relative;
	.box {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 50px 0px;
		position: relative;

		h3 {
			font: bold 40px/1.2 'Quattrocento Sans', sans-serif;
			margin-bottom: 30px;
			color: black;
		}

		.showBox {
			width: 100%;
			height: 100%;
			.wrap {
				width: 100%;
				height: 100%;
				margin-bottom: 50px;
				h2 {
					font: bold 17px/1 'arial';
					margin-bottom: 20px;
				}
				p {
					font: normal 17px/1.3 'arial';
					margin-bottom: 30px;
				}
			}
		}
	}
}
