.youtubeList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 100%;

	.card {
		width: 580px - 4px;
		height: 600px;
		margin-right: 20px;
		margin-bottom: 50px;
		box-shadow: 2px 2px 2px lightgray;
		transition: 0.6s;
		border: 1px solid grey;

		.wrap {
			padding: 30px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&:nth-of-type(2),
		&:nth-of-type(4),
		&:nth-of-type(6),
		&:nth-of-type(8),
		&:nth-of-type(10) {
			margin-right: 0px;
		}
	}

	.card:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}
