@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Quattrocento+Sans&display=swap');

$tablet: 1179px;
$mobile: 539px;

@import './reset';
//common
@import 'common/header';
@import 'common/footer';
@import 'common/popup';
@import 'common/layout';

//main
@import 'main/visual';
@import 'main/content';

//sub
@import 'sub/aboutus';
@import 'sub/news';
@import 'sub/contactus';
@import 'sub/member';
@import 'sub/join';
@import 'sub/youtube';
@import 'sub/gallery';
